@model StThomasMission.Core.Entities.Family

@{
    ViewData["Title"] = "Registration Success";
}

<h1>Family Registration Success</h1>
<hr />
<div>
    <p>Family <strong>@Model.FamilyName</strong> registered successfully!</p>
    @if (Model.IsRegistered)
    {
        <p>Church Registration Number: <strong>@Model.ChurchRegistrationNumber</strong></p>
    }
    else
    {
        <p>Temporary ID: <strong>@Model.TemporaryID</strong></p>
    }
    <p>Ward: @Model.Ward</p>
    <p>Status: @Model.Status</p>
    <button onclick="window.print()" class="btn btn-primary">Print</button>
</div>